:root{
    --red:#E50914;
    --black:#141414;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:var(--black);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

.container-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -4px 20px 42px -10px rgba(0,0,0,0.64);
    -webkit-box-shadow: -4px 20px 42px -10px rgba(0,0,0,0.64);
    -moz-box-shadow: -4px 20px 42px -10px rgba(0,0,0,0.64);
}

.logo{
    color: var(--red);
    font-family: "Arial Black", Times;
    font-size: 40px;
    margin-left: 6px;

}

nav{
    margin-left: 10px;
    flex:1;
}

nav a{
    text-decoration:none;
    color:#AAA;
    margin-right:14px;

}

/*Main movie*/

.main-movie{

    font-size:18px;
    background:
	linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5) 100%), 
	url(https://picsum.photos/400);
    height:400px;
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    aligin-items: flex-start;
    /*
      background-size:cover;
   */
}

.main-movie .description{
    margin-bottom:5%;
}

.title{
    font-size:40px
}

.button{
    background-color: rgba(0,0,0,.5);
    border:none;
    color: white;
    padding:16px;
    margin-left:  4%;
    cursor:pointer;
    border-radius:6px;

    transition: .4s ease all;

}

.button i{
    margin-right: 6px;
}

.button:hover{
    
    background-color:rgba(255,255,255,1);
    color:black;
}

.button:active{
		     
    background-color:rgba(155,155,155,1);
    outline: 2px solid black;
}

.movie-box{
    height:100%;
    width:100%;
    display:box;
    
}

.carrosel{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}


